@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mis estilos personalizados */
@import "custom/base.css";
@import "custom/components.css";
@import "custom/layout.css";
@import "custom/animations.css";
@import "custom/themes.css";